<mat-button-toggle-group class="app-mat-button-toggle-group" [(ngModel)]="formTypeId">
    <!-- ToDo: Take from a list. -->
    <mat-button-toggle value="byName">By Name</mat-button-toggle>
    <mat-button-toggle value="byHistory">By History</mat-button-toggle>
</mat-button-toggle-group>

<form [formGroup]="formGroupFindByDiscName" (ngSubmit)="submitForm();">
    <mat-form-field>
        <mat-label>Find by Disc Name</mat-label>
        <input type="search" matInput required [formControlName]="'discName'">
    </mat-form-field>
    <button mat-flat-button class="m-l--1rem"
        [disabled]="formGroupFindByDiscName.invalid || formTypeId() !== 'byName'">Find</button>
</form>

<form class="right" [formGroup]="formGroupFindByHistory" (ngSubmit)="submitForm();">
    <mat-form-field>
        <mat-label>Find by history</mat-label>
        <mat-select [formControlName]="'discName'">
            <mat-option value=""></mat-option>
            @for (item of historyQueue().data; track item.id) {
            <mat-option [value]="item.value">
                <span>{{item.value}} - {{item.dateTime | date:'dd/MM/yyyy HH:mm:ss'}} - </span>
                <span class="bold">{{item.id}}</span>
            </mat-option>
            }
        </mat-select>
    </mat-form-field>
    <button mat-flat-button class="m-l--1rem"
        [disabled]="formGroupFindByHistory.invalid || formTypeId() !== 'byHistory'">Find</button>
</form>

<footer>
    <span>
        @if (isFindHasBeenExecuted()) {
        Page {{pageNum() | number}}
        @if (data().get(pageNum()); as rowsInPage) { [RowsInPage: {{rowsInPage.length | number}}] } @else {[]}
        \ {{pageCount() | number}}
        | RowsFound: {{length() | number}}
        }
    </span>
    <div class="btn-area">
        <button class="btn-link m-r--1rem" [disabled]="!isFindHasBeenExecuted() || pageNum() === 1"
            (click)="pageEvent('prevPage');">
            Prev Page
        </button>
        <button class="btn-link" [disabled]="!isFindHasBeenExecuted() || pageNum() === pageCount()"
            (click)="pageEvent('nextPage');">
            Next Page
        </button>
    </div>
</footer>