<form [formGroup]="formGroupFindByDiscName" (ngSubmit)="submitFormFindByDiscName();">
    <mat-form-field>
        <mat-label>Find by Disc Name</mat-label>
        <input type="search" matInput required [formControlName]="'discName'">
    </mat-form-field>
    <button mat-flat-button class="m-l--1rem" [disabled]="formGroupFindByDiscName.invalid">Find</button>
</form>

<form class="right" [formGroup]="formGroupFindByHistory" (ngSubmit)="submitFormFindByHistory();">
    <mat-form-field>
        <mat-label>Find by history</mat-label>
        <mat-select [formControlName]="'discName'">
            <mat-option value=""></mat-option>
            @for (item of historyQueue(); track item.value) {
            <mat-option [value]="item.value">
                <p>{{item.value}} - </p>
                <p>{{item.dateTime | date:'dd/MM/yyyy HH:mm:ss:SS'}} - {{item.id}}</p>
            </mat-option>
            }
        </mat-select>
    </mat-form-field>
    <button mat-flat-button class="m-l--1rem" [disabled]="formGroupFindByHistory.invalid">Find</button>
</form>

<footer>
    <span>
        <span class="m-r--1rem">
            <!-- ToDo: Create a `N\A` `const`. -->
            <!-- Put `isFindHasBeenExecuted()` in a LocalTemplateVariable. -->
            <!-- And, Put all of that, in a `pipe`. -->
            Page {{isFindHasBeenExecuted() ? pageNum() : 'N\\A'}}
            \ {{isFindHasBeenExecuted() ? pageCount() : 'N\\A'}}
            | RowsFound: {{isFindHasBeenExecuted() ? length() : 'N\\A'}}
        </span>
        <button class="btn-link m-r--1rem" [disabled]="!isFindHasBeenExecuted() || pageNum() === 1"
            (click)="prevPage();">
            Prev Page
        </button>
        <button class="btn-link" [disabled]="!isFindHasBeenExecuted() || pageNum() === pageCount()"
            (click)="nextPage();">
            Next Page
        </button>
    </span>
</footer>