:host {
    --num-of-rows: 2;
    display: grid;
    gap: 0 2rem;
    grid-template-rows: repeat(var(--num-of-rows), 1fr);
    grid-template-columns: max-content 1fr 1fr;
}

form {
    display: flex;
    align-items: center;

    &.right {
        justify-self: end;
        width: clamp(325px, 50%, 500px);

        mat-form-field {
            width: 100%;
        }
    }
}

footer {
    padding: 0 1rem;
    display: flex;
    place-items: center;
    color: white;
    background: black;
    grid-area: var(--num-of-rows) / 1 / -1 / -1;

    .btn-area {
        margin-left: auto;

        // ToDo: Put in `styles.scss` file.
        .btn-link {
            font-size: 1rem;
            cursor: pointer;
            border: none;
            // Hint: = royalblue.
            // ToDo: Store in a varible.
            color: rgba(65, 105, 225, 0.65);
            background: transparent;
            text-decoration: underline;

            &:disabled {
                cursor: auto;
                color: rgba(65, 105, 225, 0.35);
            }

            &:hover:not([disabled]) {
                color: rgb(65, 105, 225);
            }
        }
    }
}