:host {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr;

    main {
        padding: 1rem;
        overflow: hidden;
        overflow-y: scroll;
        background: linear-gradient(to right, #3a6186, #89253e);

        .page {
            min-height: 500px;
        }
    }
}