html {
    user-select: none;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hide {
    display: none;
}

.m-l--1rem {
    margin-left: 1rem;
}

.m-r--1rem {
    margin-right: 1rem;
}