html {
    user-select: none;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-button-toggle-group.app-mat-button-toggle-group {
    border-radius: 0;

    button {
        height: 100%;
    }
}

.bold {
    font-weight: bold;
}

.m-l--1rem {
    margin-left: 1rem;
}

.m-r--1rem {
    margin-right: 1rem;
}