<mat-table [dataSource]="dataSource()">
    @for (item of columns(); track item.key) {
    <ng-container matColumnDef="{{item.key}}">
        <mat-header-cell *matHeaderCellDef>
            <span class="bold">{{item.name}}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            @if (item.withCellDeferrableView) {
            @defer (on viewport) {
            <ng-container [ngTemplateOutlet]="cellTemplate" [ngTemplateOutletContext]="{row: row, item: item}" />
            } @placeholder {
            <span>...</span>
            }
            } @else {
            <ng-container [ngTemplateOutlet]="cellTemplate" [ngTemplateOutletContext]="{row: row, item: item}" />
            }
        </mat-cell>
    </ng-container>
    }

    <mat-header-row *matHeaderRowDef="columnsHeaders(); sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsHeaders()" [class.selected-row]="row[rowIdProp()] === selectedRowId()"
        [style.height]="rowHeight()" (click)="selectRow(row);"></mat-row>
</mat-table>

@if (withPagination()) {
<mat-paginator [length]="length()" [hidePageSize]="hidePageSize" (page)="pageSelected.emit($event);"></mat-paginator>
}

<ng-template let-row="row" let-item="item" #cellTemplate>
    @switch (item.cellContentType.myName) {
    @case ('CellContentType_Normal') {
    <span>{{row[item.key]}}</span>
    } @case ('CellContentType_ComponentByProp') {
    <ng-container *ngComponentOutlet="item.cellContentType.componentTypeRef; inputs: {cellKey: item.key
            , rowData: row, columnData: item, cellData: row[item.key]}" />
    }
    }
</ng-template>