:host {
    height: 100%;
    display: block;
    background: black;
}

// ToDo: OnOffSwitch.
_mat-row {
    cursor: pointer;

    &:hover {
        background: silver;
        color: black;
    }
}

.selected-row {
    background: lightslategray;
}