:host {
    --header-height: 50px;
    height: var(--height);
    color: white;
    display: grid;
    grid-template-rows: var(--header-height) calc(var(--height) - var(--header-height));
    background: rgb(16, 20, 20);
}

.item {
    overflow: hidden;
    padding-left: 1rem;
    align-content: center;
    border-bottom: 1px solid rgb(136, 147, 146);

    &.header {
        font-weight: bold;
        background: rgba(0, 0, 0, 0.5);
    }
}

main {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
    overflow: hidden visible;

    section {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: subgrid;
        grid-auto-rows: var(--row-height);
        box-sizing: border-box;

        .no-data {
            grid-column: 1 / -1;
            text-align: center;
            font-size: 2em;
            font-weight: bold;
        }
    }
}