@for (columnData of columns(); track columnData.key) {
<div class="item header">
    <span>{{columnData.name}}</span>
</div>
}

<main (scroll)="onScroll($event);">
    <section role="list" [style.height.px]="height()" [style.paddingTop.px]="virtualScrollState().paddingTop">
        @for (rowData of viewSource(); let isFirstRow = $first, isLastRow = $last; track rowData[rowIdProp()]) {
        @for (columnData of columns(); track columnData.key) {
        @let cellData = rowData[columnData.key];

        <div class="item">
            @switch (columnData.cellContentType.myName) {
            @case ('CellContentType_Normal') {
            <span>{{cellData}}</span>
            } @case ('CellContentType_ComponentByProp') {
            <ng-container *ngComponentOutlet="columnData.cellContentType.componentTypeRef; inputs: {cellKey: columnData.key
                , rowData, columnData, cellData}" />
            }
            }
        </div>
        }
        } @empty {
        <div class="item no-data">No Data</div>
        }
    </section>
</main>