:host {
    display: block;
}

// ToDo: OnOffSwitch.
_mat-row {
    cursor: pointer;

    &:hover {
        background: silver;
        color: black;
    }
}

.selected-row {
    background: lightslategray;
}